// app global css
.logo {
  font-weight: 700;
  color: #499965;
  padding-bottom: 5px;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active {
text-decoration: none; color:black
}
.q-parallax {
  //min-height: 100vh;
}
.link:link {
  text-decoration: none;
  color: black;
}
.white-color {
  color: white;
}
.fullcol {
  min-height: 100vh !important;
  display: block;
}

.q-drawer {
	background: rgba(255,255,255, 0.8);
}
.main-green {
    background: #499965 !important;
    color: white!important;
}
a:visited, .q-item__section--side {
  color: #fff;
}
.q-drawer__content a:visited,
.q-drawer__content .q-link.bg-secondary {
  border-radius: 20px;
  padding: 10px 22px;
  margin: 5px 5px;
}
.q-expansion-item__content {
  padding-left: 20px;
  background: #31716D;
  padding-bottom: 5px;
}
.bg-main-green {
   background: #78ca9c !important;
    color: white!important;
}
.bg-tertiary {
background: #7d62e1;
}
.text-tertiary {
color: #7d62e1;
font-weight: 700;
margin: 20px;
}
.bolder {
font-weight: 700;
}
.bg-custom {
  //background-color: rgba(117, 117, 117,0.7) !important;
  background-color: rgba(255,255,255, 1) !important;
}

.q-router-link--exact-active .text-green-5{
  color: #97d0a0 !important;
}
.q-badge {
  padding: 8px 15px;
}
.advise {
  font-size 16px;
}
.q-item {
  padding: 0px 16px;
}
.q-page .q-card {
  margin-top: 10px;
}
.q-card, .q-table-container {
  border-radius: 15px;
}

.bg-tertiary {
  background: #31716D;
}

.q-item .bg-tertiary {
  padding-right: 5px;
}
.q-input, .q-select {
  min-width: 300px;
}
